/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

 


.contentss{
    display: flex;
    flex-direction: column;
    margin-left: 1150px;
    margin-top: 250px;

}

.title1 {
    font-size: 60px;
    margin-left: 250px;
}

.reg {
    display: flex;
    justify-content: space-between;
}

.input1 {
    height: 60px;
    width: 1000px;
    background-color: rgb(177, 240, 219);
    margin-bottom: 50px;
    border-radius: 20px;
}

.input1::placeholder {
    color:  black;
    font-size: 20px;
    padding: 20px;
}

.butt {
    display: flex;
    width: 800px;
    justify-content:space-between ;
    

}

.butt button {
    width: 250px;
    height: 70px;
    background-color: #04AA6D;
    color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40px;
    border-radius: 20px;
}