.div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.varianton {
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 14px;
  color: #ebebeb;
  font-family: var(--font-roboto);
}
