.gender {
    background-color: rgb(205, 206, 205);
    width: 250px;
    height: 65px;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    margin-right: 195px ;
}

.info {
    display: flex;
    justify-content: space-between;
}

.dates {
    background-color: rgb(205, 206, 205);
    width: 250px;
    height: 65px;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    color: black;
}

.dates::placeholder {
    color: black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}